*{
margin: 0;
padding: 0;
box-sizing: border-box;
outline: none;
border: none;
}

.App{
    display: flex;
    justify-content: center;
    
}

.board{
    width: 200px;
    height: 400px;
    background-color: rgb(14, 86, 86);
    margin: .5rem;
    text-align: center;
    border: 1px solid ;
}

h2{
    font-size: 23px;
}
